<%- include('../../partials/header.ejs') %> <%- include('../../partials/navbar.ejs')
%> <%- include('../../partials/sidebar.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Voucher</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Beranda</a></li>
            <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
            <li class="breadcrumb-item active">Ubah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Form Ubah Voucher "<%= dataVoucher.gameName %>" </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/voucher/edit/<%= dataVoucher._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
              <div class="card-body">
                <div class="form-group">
                    <label for="gameName">Nama Game</label>
                    <input
                      type="text"
                      class="form-control"
                      name="gameName"
                      id="gameName"
                      placeholder="Masukkan nama game"
                      value="<%= dataVoucher.gameName %> "
                      required
                    />
                </div>
                <div class="form-group">
                  <label>Pilih Kategori</label>
                  <select
                    class="form-control select2"
                    style="width: 100%"
                    name="category"
                    required
                  >
                  <option selected="selected">Pilih kategori</option>
                  <% dataCategory.forEach( category => { %>
                    <option value="<%= category._id %>"
                      <% if(category._id.toString() === dataVoucher?.category?._id.toString()) { %>
                        selected 
                      <% } %> 
                    >
                      <%= category.name %>
                    </option>
                  <% }) %>
                  </select>
                </div>
                <div class="form-group">
                    <label>Pilih Nominalnya</label>
                    <div class="select2-purple">
                        <select
                      class="form-control select2"
                      style="width: 100%"
                      multiple="multiple"
                      data-placeholder="Pilih nominal"
                      name="nominals"
                      required
                    >
                    <%dataNominal.forEach( nominal => { %>
                      <option value="<%= nominal._id %>"
                        <% dataVoucher.nominals.forEach(voucherNominal => { %>
                          <%if (nominal._id.toString() === voucherNominal._id.toString()) { %>
                            selected
                          <% } %> 
                        <% }) %> 
                      >
                        <%= nominal.coinName %> - <%= nominal.coinQuantity %>
                      </option>
                    <%  }) %>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="thumbnail">Thumbnail</label>
                    <input
                      type="file"
                      class="form-control"
                      name="thumbnail"
                      id="thumbnail"
                      placeholder="Input thumbnail"
                    />
                    <br>
                    <img src="/uploads/<%= dataVoucher.thumbnail %> " alt="preview-thumbnail" id="preview-thumbnail" width="50%">
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer d-flex">
                <button type="submit" class="ml-auto btn btn-primary">
                  Simpan
                </button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include('../../partials/footer.ejs') %> <%- include('../../partials/js.ejs') %>

<!-- script menampilkan preview thumbnail -->
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader()

            reader.onload = (e) => {
                $('#preview-thumbnail').attr('src', e.target.result)
                $('#preview-thumbnail').attr('width', '50%')
                $('#preview-thumbnail').attr('height', '50%')
            }

            reader.readAsDataURL(input.files[0])
        }
    }

    $('#thumbnail').change(function() {
        readURL(this)
    })
</script>
