<%- include('../../partials/header.ejs') %> <%- include('../../partials/navbar.ejs')
%> <%- include('../../partials/sidebar.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Kategori</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Beranda</a></li>
              <li class="breadcrumb-item"><a href="/category">Kategori</a></li>
              <li class="breadcrumb-item active">Tambah</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6">
               <!-- general form elements -->
               <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form Tambah Kategori</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/category/create" method="POST">
                  <div class="card-body">
                    <div class="form-group mb-0">
                      <label for="name">Masukkan Kategori</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Nama Kategori" autofocus required>
                    </div>
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer d-flex">
                    <button type="submit" class="ml-auto btn btn-primary">Simpan</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../../partials/footer.ejs') %> <%- include('../../partials/js.ejs') %>